{% extends "template.html.twig" %}

{% set style = '/projets/mamoun-veggie/asset/' %}

{% block stylesheets %}
	<link href="{{ style }}connect.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

{# {% if message %}
<p>{{ message }}</p> #}

	<div class="cont">
		<div class="form sign-in">

			<h2>Ravi de vous revoir,</h2>

			<form action= "{{ login }}" method="POST">
				<label for="username">
					<span>PSEUDO</span>
				</label>
				<input name="username" type="text"/>

				<label for="password">
					<span>MOT DE PASSE</span>
				</label>
				<input name="password" type="password"/>

				<a href="#"><p class="forgot-pass">Mot de passe oublié ?</p></a>

				<button type="submit" class="submit">Se connecter</button>

				<button type="button" class="fb-btn">
					<a href="https://fr-fr.facebook.com/login/web/">Connexion avec
						<span>facebook</span>
					</a>
				</button>

				<button type="button" class="gmail-btn">
					<a href="https://www.google.com/intl/fr/gmail/about/">
						Connexion avec
						<span>Gmail</span>
					</a>
				</button>

				<button type="button" class="apple-btn">
					<a href="https://www.icloud.com/">Connexion avec
						<span>Apple</span>
					</a>
				</button>

			</div>
		</form>

		<div class="sub-cont">
			<div class="img">
				<div class="img__text m--up">
					<h2>Nouveau?</h2>
					<p>Rejoignez la team 
						<br>
						Mamoun Veggie!!!</p>
				</div>
				<div class="img__text m--in">
					<h2>Déjà inscrit?</h2>
					<p>Si vous possédez un compte!
						<br>
						C'est par ici !!</p>
				</div>
				<div class="img__btn">
					<span class="m--up">Inscription</span>
					<span class="m--in">Connexion</span>
				</div>
			</div>


			<div class="form sign-up">

				<form action= "{{ path('register') }}" method="POST">
					<label for="username">
						<span>Pseudo</span>
					</label>
					<input name="username" type="text"/>


					<label for="mail">
						<span>Email</span>
					</label>
					<input name="mail" type="mail"/>

					<label for="password">
						<span>Password</span>
					</label>
					<input name="password" type="password"/>

					<button type="submit" class="submit">S'inscrire</button>

					<button type="button" class="fb-btn">
						<a href="https://fr-fr.facebook.com/login/web/">Connexion avec
							<span>facebook</span>
						</a>
					</button>

					<button type="button" class="gmail-btn">
						<a href="https://www.google.com/intl/fr/gmail/about/">Connexion avec
							<span>Gmail</span>
						</a>
					</button>

					<button type="button" class="apple-btn">
						<a href="https://www.icloud.com/">Connexion avec
							<span>Apple</span>
						</a>
					</button>

				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ javascript }}main.js"></script>
{% endblock %}
