{# {% extends "template.html.twig" %} #}

{% set style = '/projets/mamoun-veggie/asset/' %}

{% block stylesheets %}
	<link href="{{ style }}dashboard.css" rel="stylesheet">
{% endblock %}



{% block title %}
	{{ session.username }}
{% endblock %}


{% block content %}


	<section class="dashboard-user">

		<h2 class="title-dash">Bienvenue sur votre espace personnel, {{ session.username }}!</h2>
	

		<aside class="sidebar">
			<nav class="navbar">
				<ul>
					<li>
						<a href="{{ path('home') }}">Accueil</a>
					</li>
					<li>
						<a href="#">Mes recettes</a>
					</li>
					<li>
						<a href="{{ path('addedrecipe') }}">Ajout d'une recette</a>
					</li>
					<li>
						<a href="#">Mes favoris</a>
					</li>
					<li>
						<a href="#">Paramètre</a>
					</li>
				</ul>
				<a href="{{ logout }}">
					<button id="user-deconnect" type="submit" name="logout">Déconnexion
					</button>
				</a>

			</nav>
		</aside>

	</section>


{% endblock %}
