{% set style = '/projets/mamoun-veggie/asset/' %}
{% set image = '/projets/mamoun-veggie/img/' %}





{% block content %}
<footer>

<div class="footer-contain">
<div class="logo-m">
<img src="{{ image }}/logo.png"   alt="logo Mamoun Veggie" class="foot-logo">
</div>

<div class="links">
<a href="{{ ('./doc/Model__CGU__.docx') }}">CGU</a>
<a href="{{ ('./doc/Politique-de-confidentialité.docx') }}">Politique de confidentialité</a>
</div>

<div class="social-media">
<a href="https://fr-fr.facebook.com/"><img class="social" src="{{ image }}/facebook.png"></a>
<a href="https://twitter.com/"><img class="social" src="{{ image }}/twitter.png"></a>
<a href="https://www.instagram.com/"><img class="social" src="{{ image }}/instagram.png"></a>
<a href="https://www.pinterest.fr/"><img class="social" src="{{ image }}/pinterest.png"></a>

</div>

</div>
<div class="copyright">
        <p id="copy">Copyright&copy;2023 Mamoun Veggie</p>
</div>


</footer>

{% endblock %}