<header>

	<nav class="nav-header">
		<div class="logo">
			<a href="{{ action }}"><img class="img-logo" src="{{ image }}/logo.png" alt="Logo"></a>
			<span>Mamoun Veggie, le plaisir<br>
				de la cuisine végétarienne</span>
		</div>
		<ul class="menu">
			<li>
				<a href="{{ action }}">Accueil</a>
			</li>
			<li>
				<a href="#">A Propos</a>
			</li>
			<li>
				<a href="#">Ajout recette</a>
			</li>
			<li>
				<a href="{{ path('dashboard') }}">Mon compte</a>
			</li>
			<li>
				<a href="{{ linkConnexion }}" class="connexion-btn">

					<button id="user-connect" type="submit" name="connexion">
						Connexion</button>
				</a>

				{# <a href="{{ logout }}"><button id="user-deconnect" type="submit" name="logout">Déconnexion
        </button></a> #}
		
		
	</li>
</ul>
</nav>

</header>
