<header>

	<nav class="nav-header">
		<div class="logo">
			<a href="{{ action }}"><img class="img-logo" src="{{ image }}/logo.png" alt="Logo"></a>
			<span>Mamoun Veggie, le plaisir<br>
				de la cuisine végétarienne</span>
		</div>
		<ul class="menu">
			<li>
				<a href="{{ action }}">Accueil</a>
			</li>
			<li>
				<a href="#">A Propos</a>
			</li>

			<li>
				<a href="{{ path('dashboard') }}">Profil
					{{ session.username }}</a>
			</li>
			<li>

				{% if session.connect %}

					<a href="{{ path('logout') }}">
						<button id="user-deconnect" type="submit" name="logout">Déconnexion
						</button>

					</a>
				{% else %}
					<a href="{{ path('login') }}" class="connexion-btn">

						<button id="user-connect" type="submit" name="connexion">Connexion</button>
					</a>

				{% endif %}


			</li>
		</ul>
	</nav>

</header>
