{% extends "template.html.twig" %}


{% block title %} Mamoun Veggie {% endblock %}


    
   {% block stylesheet %}{% endblock %}
    {% block javascripts %} {% endblock %}

{% block content %}

{# ******************************MENU DEROULANT **************************** #}
<main>

<div class="row-limit-size">

<div id="info">
<div class="stretchHolder">
<div class="stretchMenu">
	<ul class="stretchDrop">
	<!-- item 1 -->
	<li class="slide p1"><a href="#url">APERO</a>
    <div>
		<dl><!-- sous menu 1 -->
		<dt><a href="#url">Froid</a></dt>
		<dd><a href="url">Houmous épicé</a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model </a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Chaud</a></dt>
		<dd><a href="url">Gougères faciles</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

	</div>
		
	</li>
	<!-- item 2 -->
	<li class="slide p2"><a href="#url">BOISSONS</a>
	<div>
		<dl><!-- sous menu 1 -->

		<dt><a href="#url">Sans Alcool</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>

		<dl><!-- sous menu 2 -->
		<dt><a href="#url">Avec alcool</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

		<dl><!-- sous menu 3 -->
		<dt><a href="#url">Végétale</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
	</div>
	</li>
	<!-- item 3 -->
	<li class="slide p3"><a href="#url">ENTREES</a>
	<div>
		<dl>
		<dt><a href="#url">Chaudes</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Froides</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>

	</div>	
	</li>
	

	<!-- item 4 -->
	<li class="slide p4"><a href="#url">PLATS</a>
	<div>
		<dl>
		<dt><a href="#url">Végétariens</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Végan</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		</dl>
		
		
	</div>
	</li>

	<!-- item 5 -->
	<li class="last p5"><a href="#url">DESSERTS</a>
	<div>
		<dl>
		<dt><a href="#url">Chocolat</a></dt>
		<dd><a href="url">Model #1</a></dd>
		<dd><a href="url">Model #2</a></dd>
		<dd><a href="url">Model #3</a></dd>
		<dd><a href="url">Model #4</a></dd>
		<dd><a href="url">Model #5</a></dd>
		<dd><a href="url">Model #6</a></dd>
		</dl>
		<dl>
		<dt><a href="#url">Tartes</a></dt>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modelo</a></dd>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Modele</a></dd>
		</dl>
		
		<dl>
		<dt><a href="#url">Autres</a></dt>
		<dd><a href="url">Modele</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		<dd><a href="url">Model</a></dd>
		
		</dl>
		
	</div>
	</li>
</ul>
</div>
</div>
</div>


{# *****************************END MENU DEROULANT *************************** #}

{#----------------------------BARRE DE RECHERCHE--------------------------------  #}
<section class="search-contain">

<h1 class="search-title">Citation</h1>
<p class="citation">La vraie cuisine est une forme d'art.Un cadeau à partager.<br>
<span class="name">Oprah Winfrey</span></p>

<div class="search-bar">
	<input type="text" class="SearchBar-input" placeholder="Rechercher votre recette">
	
			<button class="SearchBar-button">
				<i class="SearchBar-icon  material-icons">search</i>
			</button>


</div>

</section>

{#-----------------------END BARRE DE RECHERCHE ------------------  #}

{# ------------------- --DERNIERES RECETTES -------------------------- #}

   <section id="recipes-section">
   <h2 class="new-recipe">Les dernières recettes</h2>
{% for recipe in recipes %}
    <div class="last-recipe">
	
	
      <div class="card" style="background-image: url({{ image }}{{ recipe.image }});">
	
    <a href="{{ link }}{{ recipe.recipe_id }}"><h3 class="recipe-title">{{ recipe.title }}</h3></a>
       
        <div class="food-info">
		
          <p class="recipe-details">
            <span>Temps de préparation: {{ recipe.cooking_time }}</span><br>
            <span>Nombre de personnes: {{ recipe.number_of_covers }}</span>
          </p>
		     <a href="#" class="btn">Voir la recette</a>
       
        <div class="icon">
          <svg class="favorite" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 21.5l-1.27-1.14C4.3 14.33 1.5 11.07 1.5 7.5 1.5 4.42 3.92 2 7 2c2.02 0 3.91 1.11 5 2.5C12.09 3.11 13.98 2 16 2c3.08 0 5.5 2.42 5.5 5.5 0 3.57-2.8 6.83-9.23 12.86L12 21.5z"/>
          </svg>
        </div>
      </div>
      </div>
	  
    </div>
  
{% endfor %}  
</div>

</section>

{# **************************************************************RECOMMANDATIONS************************************************************************ #}

<section class="recommand">
<h2 class="title-recommand">Recommandation</h2>
<div class="wrapper">
        <div class="card">
            <input type="checkbox" id="card1" class="more">
            <div class="content">
                <div class="front" style="background-image: url('./img/avocat.jpg');">
                    <div class="inner">
                        <h2>Tartine à l'avocat</h2>
                       
                        <label for="card1" class="button" aria-hidden="true">
                            Détail
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>5 pers</span>
                                  
                        </div>
                        <div class="info">
                        <span>Préparation</span>
                        <span>10 min</span>
                        
                        </div>
                        <div class="info">
                         <span>Difficulté</span>
                        <span>Facile</span>
                            
                        </div>
                       
                        <div class="description">
                            <p>Ingrédients :<br>
                            1 avocat mûr<br>
                            4 tranches de pain de votre choix (pain complet, pain aux céréales, etc.)<br>
                            Jus d'un demi-citron<br>
                            Sel et poivre selon votre goût<br>
                            Flocons de piment rouge (facultatif)<br>
                            
                            Instructions:<br>
                            Coupez l'avocat en deux, retirez le noyau et écrasez la chair dans un bol à l'aide d'une fourchette.Ajoutez le jus de citron, le sel et le poivre à l'avocat écrasé. Mélangez bien pour obtenir une consistance lisse.Toastez les tranches de pain jusqu'à ce qu'elles soient légèrement dorées et croustillantes.Étalez généreusement la purée d'avocat sur chaque tranche de pain grillé.Saupoudrez de flocons de piment rouge  et ajoutez quelques feuilles de coriandre fraîche pour la garniture.</p>
                           
                        </div>
                        
                            <label for="card1" class="button return" aria-hidden="true">
                        <span>Retour</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <input type="checkbox" id="card2" class="more">
            <div class="content">
                <div class="front" style="background-image: url('./img/courgettes-grillees.jpg');">
                    <div class="inner">
                        <h2>Courgettes grillées</h2>
                       
                        <label for="card2" class="button" aria-hidden="true">
                            Détail
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>4 pers</span>
                        </div>
                        <div class="info">
                            <span>Préparation</span>
                            <span>30 min</span>
                            </div>
                       
                        <div class="info">
                         <span>Difficulté</span>
                            <span>Facile</span>
                        </div>   

                        <div class="description">
                            <p>Ingrédients :<br>
                            4 courgettes moyennes<br>
                            3 cuillères à soupe d'huile d'olive<br>
                            2 gousses d'ail émincées<br>
                            1 cuillère à café de paprika<br>
                            Sel et poivre noir moulu, selon votre goût<br>
                            Jus d'un demi-citron<br>
                            2 cuillères à soupe de persil frais haché <br>(facultatif)<br>

                            Instructions :<br>
                            Préchauffez votre gril à feu moyen.
                            Lavez les courgettes et coupez-les en tranches épaisses d'environ 1,5 cm. Si les courgettes sont très grandes, vous pouvez également les couper en demi-rondelles.
                            Dans un bol, mélangez l'huile d'olive, l'ail émincé, le paprika, le sel et le poivre noir moulu.
                            Ajoutez les tranches de courgettes au bol et mélangez bien pour les enrober uniformément avec la marinade.
                            Placez les tranches de courgettes sur la grille préchauffée du gril. Faites griller pendant environ 4 à 5 minutes de chaque côté, jusqu'à ce qu'elles soient tendres et légèrement dorées.
                            Retirez les courgettes grillées du gril et arrosez-les de jus de citron frais. Saupoudrez de persil frais haché pour plus de saveur et de couleur (facultatif).
                            Servez les courgettes grillées chaudes en accompagnement d'un plat principal ou en tant qu'entrée légère.

                            </p>
                           
                        </div>
                                             
                        <label for="card2" class="button return" aria-hidden="true">
                            <span>Retour</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <input type="checkbox" id="card3" class="more">
            <div class="content">
                <div class="front" style="background-image: url('./img/potiron.jpg');">
                    <div class="inner">
                        <h2>Soupe au potiron</h2>
                       
                        <label for="card3" class="button" aria-hidden="true">
                            Détail
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>4 pers</span>
                         </div>              
                       
                        <div class="info">
                            <span>Préparation</span>
                           <span>20 min</span>
                        </div>
                          
                        
                        <div class="info">
                         <span>Difficulté</span>
                        <span>Facile</span>
                         </div>   
                       
                     
                        <div class="description">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero
                                totam nostrum consequatur autem quae provident quos alias fugit maxime nisi labore,
                                temporibus tempore illo natus voluptates aliquam ipsum officia quasi placeat aut
                                facilis
                                laudantium nam!</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>
                       
                        <label for="card3" class="button return" aria-hidden="true">
                            <span>Retour</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
   



<div class="card">
            <input type="checkbox" id="card4" class="more">
            <div class="content">
                <div class="front" style="background-image: url('./img/ravioles.jpg');">
                    <div class="inner">
                        <h2>Ravioles aux légumes</h2>
                       
                        <label for="card4" class="button" aria-hidden="true">
                            Détail
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>4 pers</span>
                         </div>              
                       
                        <div class="info">
                            <span>Préparation</span>
                           <span>40 min</span>
                        </div>
                          
                        
                        <div class="info">
                        <span>Difficulté</span>
                        <span>Moyenne</span>
                        </div>   
                       
                     
                        <div class="description">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero
                                totam nostrum consequatur autem quae provident quos alias fugit maxime nisi labore,
                                temporibus tempore illo natus voluptates aliquam ipsum officia quasi placeat aut
                                facilis
                                laudantium nam!</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>
                       
                        <label for="card4" class="button return" aria-hidden="true">
                            <span>Retour</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    



<div class="card">
            <input type="checkbox" id="card5" class="more">
            <div class="content">
                <div class="front" style="background-image: url('./img/quinoa.jpg');">
                    <div class="inner">
                        <h2>Bol bouddha au quinoa </h2>
                       
                        <label for="card5" class="button" aria-hidden="true">
                            Détail
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>4 pers</span>
                         </div>              
                       
                        <div class="info">
                            <span>Préparation</span>
                           <span>40 min</span>
                        </div>
                          
                        
                        <div class="info">
                            <span>Facile</span>
                         </div>   
                       
                     
                        <div class="description">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero
                                totam nostrum consequatur autem quae provident quos alias fugit maxime nisi labore,
                                temporibus tempore illo natus voluptates aliquam ipsum officia quasi placeat aut
                                facilis
                                laudantium nam!</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>
                       
                        <label for="card5" class="button return" aria-hidden="true">
                            <span>Retour</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    



<div class="card">
            <input type="checkbox" id="card6" class="more">
            <div class="content">
                <div class="front" style="background-image: url('./img/mousse-chocolat.jpg');">
                    <div class="inner">
                        <h2>Mousse au chocolat</h2>
                       
                        <label for="card6" class="button" aria-hidden="true">
                            Détail
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>4 pers</span>
                         </div>              
                       
                        <div class="info">
                            <span>Préparation</span>
                           <span>30 min</span>
                        </div>
                          
                        
                        <div class="info">
                        <span>Difficulté</span>
                        <span>Facile</span>
                        </div>   
                       
                     
                        <div class="description">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero
                                totam nostrum consequatur autem quae provident quos alias fugit maxime nisi labore,
                                temporibus tempore illo natus voluptates aliquam ipsum officia quasi placeat aut
                                facilis
                                laudantium nam!</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>
                       
                        <label for="card6" class="button return" aria-hidden="true">
                            <span>Retour</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{#  *********************END RECOMMANDATIONS************************ #}

<div class="slide-show">

<ul class="pagination">
  <li><a href="#0">&lt;</a></li>
  <li><a class="active" href="#0">1</a></li>
  <li><a href="#0">2</a></li>
  <li><a href="#0">3</a></li>
  <li><a href="#0">4</a></li>
  <li><a href="#0">&gt;</a></li>
</ul>

</div>





</div>

</main>
{% endblock %}
 
